body{
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    background-color: #fffaf0;
}

main{
    padding-bottom: 60px;
}

header{
    font-family: "Merriweather", serif;
    color: #db7093;
    background-color: #f0e1c4;
    padding: 10px;
    text-align: center;
    margin-bottom: 60px;
}

.title{
    margin: 0;
    font-weight: 600;
}

.sub-title{
    font-size: 18px;
}

.box-form{
    width: 40%;
    max-width: 450px;
    margin: auto;
    height: 300px;
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #db7093;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

form label{
    font-size: 16px;
    color: #fffaf0;
    width: 80%;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
}

form input{
    font-size: 16px;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 0;

}

.btn-login{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #e6e6fa;
    color: #5a5a5a;
    cursor: pointer;
    border: 0;
}

.btn-login:hover{
    background-color: #bdbdfc;
    font-weight: bold;
}

.mensaje-exito {
    display: none; /* Oculto por defecto */
    margin-top: 20px;
    text-align: center;
    background-color: #dff0d8;
    color: #3c763d;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0e1c4;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: #db7093;
}

footer p{
    margin: 5px 0;
}