.box-cards{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-menu{
    width: 30%;
    background-color: #fba8c4;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.card-menu h2{
    color: aliceblue;
    font-weight: 600;
}

.btn-card{
    margin-top: 10px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #e6e6fa;
    color: #5a5a5a;
    text-decoration: none;
    padding: 10px;
    border: 0;
}
nav{
    display: flex;
    justify-content: end;
}

nav a{ 
    text-decoration: none;
    padding: 5px;
}

nav a:hover{ 
    background-color: #fba8c4;
    border-radius: 5px;
}

.btn-card:hover {
    background-color: #bdbdfc;
    font-weight: bold;
    cursor: pointer;
}