body {
  background-color: #f0fff0;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

h1{
  color: #4ba386;
  text-align: center;
}

nav{
  margin: auto;
  width: 45%;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
}

nav button{
  background-color: #c1e1c1;
  color: #444;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  width: 120px;
  text-align: center;
}

.formulario {
  max-width: 400px;
  margin: 20px auto;
  background-color: #e0ffe0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #c0e0c0;
  text-align: center;
}

h2 {
  color: #66cdaa;
}
label {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    text-align: start;
}

input, select, button {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #c1e1c1;
  color: #444;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #9dec9d;
  scale: 1.1;
}


#mensaje {
  margin-top: 15px;
  padding: 10px;
  background: #d4edda;
  color: #155724;
  border-radius: 6px;
  display: none;
  text-align: center;
}

#listado-citas{
  display: none;
  max-width: 400px;
  margin: 20px auto;
  background-color: #e0ffe0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #c0e0c0;
  text-align: center;
}

#agendar-citas{
  display: block;
}